@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lazy Dog";
  src: url("/fonts/lazy_dog.ttf") format("truetype");
}

@font-face {
  font-family: "new september";
  src: url("/fonts/new_september.otf") format("truetype");
}

* {
  box-sizing: border-box;
  cursor: pointer;
}

.swiper {
  width: 100vw;
  height: 100vh;
  background-color: wheat;
}
